/**
 * partials/page
 * ---
 * Pages
 */
main {
  padding-top: $spacing-base;
}

.front_page_gallery {
  figure {
    height: $main-area;

    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.image-series {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 1em -1em;

    figure {
      padding: 0 0 0 1em;
      flex:  0 0 33.33332%;
      transition: flex .1s ease-out;
      img {

        object-fit: contain;
        width: 100%;
        height: 100%;
        //padding-left: 1rem;
      }
    }
  }
}
